* {
    box-sizing: border-box;
}

body {
    background-image: url(conveyor-belt.jpg);
    background-size: 100% 100vh;
    background-repeat: no-repeat;
}

.teddy-bear img {
    max-width: 500px;
}

.teddy-bear {
    position: absolute;
    top: 10px;
    right: 0px;
}

.next-button {
    display: none;
}

@media (max-width: 600px) and (max-height: 600px) {
    body {
        background-image: url('box.avif');
        background-size: 100% 100vh;
        background-repeat: no-repeat;
    }

    .next-button {
        position: fixed;
        top: 10px;
        right: 10px;
        background-color: #fff;
        padding: 10px 20px;
        border-radius: 20px;
        cursor: pointer;
        font-family:Helvetica, sans-serif;
        display: block;
    }
}