body {
    background-color: rgb(255, 247, 0);
    background-image: lined-paper;
}

@font-face {
    font-family: BN;
    src: url();
}

a {
    color:black;
    text-decoration: none;
}

a:hover {
    background-color: white;
}