* {
    box-sizing: border-box;
}

body {
    background-color:rgb(255, 255, 255);
    font-family: Helvetica;
}

.title {
    background-color:pink;
    text-align:center;
    padding: 50px;
    border-radius: 100% 100% 0 0;
}

.ferrule {
    background-color: gray;
    border: dashed 5px lightgray;
    padding: 50px;
}

.paragraph {
    background-color: yellow;
    padding: 150px;
}

.collar {
    background-color:#e3ca77;
    padding: 75px;
}

.point {
    border-top: 250px solid rgb(59, 59, 59);
    border-left: 432px solid transparent;
    border-right: 432px solid transparent;
}

.pencils {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.carpenter {
    text-align: center;
    background-color: pink;
    border: solid;
}

.golf {
    text-align: center;
    background-color: gray;
    border: solid;
}

.indelible {
    text-align: center;
    background-color: yellow;
    border: solid;
}